<section id="home-text">
  <div class="container-custom">
    <div class="row">
      <div class="text-lines">
        {% render 'svg-star' | img_url %}
        {% for block in section.blocks %}
          <p class="txt-line">{{ block.settings.maintext_id }}</p>
        {% endfor %}
        {% render 'svg-star' | img_url %}
      </div>
      <div class="compact-text">
        {{ section.settings.compact_text }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home text new",
  "settings": [
    {
      "type": "textarea",
      "id": "compact_text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text line",
      "settings": [
        {
          "type": "text",
          "id": "maintext_id",
          "label": "Text line"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home text new"
    }
  ]
}
{% endschema %}
